@charset "ISO-8859-1";

.body{
	background-color: #ffb396; 
}

h1{
	text-align: center; 
}

/* Gradient color1 - color2 - color1 
https://css-tricks.com/examples/hrs/
*/

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

header{
	text-align: right; 
	margin: 20px; 
}

#theTinyTable{
	margin-top: 50px; 
	margin-left: 300px;
	width: 600px;  
}


#theTinyTable th{
	font-size:18px; 
}

#theCompTable{
	margin-top: 50px; 
	margin-left: 175px; 
	width: 75%;
}

#theCompTable th{
	font-size:18px; 
}

#invent{
	text-align:center; 
}